@charset "UTF-8";

//* グローバル変数 *//
$mainColor: #333333;  // 文字色

//* mixin *//
@mixin flexMode($justify) { // displayFlex
    display: flex;
    justify-content: $justify;
    align-items: center;
}
@mixin hoverOpacity { // hover時のopacity
    & {
        transition: opacity 0.5s;
    }
    &:hover {
        opacity: 0.6;
    }
}
/* 共通クラス */
*    { box-sizing: border-box; }
html { font-size: 100%; }
li   { list-style: none; }
a    { text-decoration: none; color: $mainColor;}
img  { max-width: 100%; vertical-align: bottom; }
body { 
    opacity: 1;
    font-family: "Meiryo"; 
    color: $mainColor; 
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;}

// font-size: 0.875rem
// font-weight: normal
h2 { font: normal 0.875rem "Meiryo"; margin: 40px 0 30px;}

/* 横幅を設定するための共通クラス */
.wrapper {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 40px;
}

.indexPage {
    @include flexMode(center);
    font-size: 0.875rem;
    text-align: center;
    li {
        margin: 0 20px;
    }
    a {
        @include hoverOpacity;
        display: block;
    }
}

/*-------------------------------------------
#header
-------------------------------------------*/
#header {
    @include flexMode(space-between);
    width: 100%;
    height: 80px;
    position: fixed;
    left: 0;
    right: 0;    
    z-index: 10;
    background-color: #fff;
    .header-title {
        @include hoverOpacity;
        width: 180px;
        line-height: 1px;
        a {
            display: block;
        }
        img {
            max-width: 100%;
            vertical-align: bottom;
        }
    }
    nav {
        display: none;
    }
}

#mask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    inset: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .8;       
}




/*-------------------------------------------
main
-------------------------------------------*/
// mixinでまとめる予定
#mainMainProduct {
    width: 100%;
    padding-top: 80px;
    .grid {        
        @include flexMode(space-between);
        font-size: 0.75rem;
        margin-bottom: 25px;
        .item {
            transition: opacity 0.6s;
            margin-bottom: 15px;
            width: 23%;          
            p {
                margin-top: 10px;
                cursor: pointer;
            }
        }
    }
}
/* JavaScriptでclass属性を追加するメソッド */
.item.hover-effect {
    opacity: 0.6;
}

#mainProductTitle {
    padding: 80px 40px 0;
    .item-info {
        display: flex;
        margin-bottom: 65px;
        .item-img {
            width: 400px;
            height: 400px;
            margin-right: 60px;
        }        
    }
    // 階層が深くなるため分離
    .item-text {
        width: 340px;
        font-size: 0.875rem;
        text-align: justify;
        p {
            margin-bottom: 30px;
        }
        dl {    
            display: flex;
            flex-wrap: wrap;       
           
            dt {     
                width: 30%;
            }
            dd {
                width: 70%;
            }
        }
    }
}

#mainAboutCompany {
    padding-top: 80px;
    .about {
        max-width: 600px;
        p {
            font-size: 0.875rem;
            line-height: 27px;
            text-align: justify;
            margin-bottom: 40px;
            &:nth-of-type(2) {
                margin-bottom: 0;
            }            
        }
    }

    .company {
        max-width: 600px;
        dl {             
            display: flex;  
            justify-content: space-between;
            flex-wrap: wrap;
            font-size: 0.875rem;
            dt {
                width: 30%;
                padding: 20px 0 20px 10px;
                border-bottom: 1px solid #DCDBDB;
                &:nth-of-type(6) {
                    border-bottom: 0;
                }
            }
            dd {
                width: 70%;
                padding: 20px 0;
                border-bottom: 1px solid #DCDBDB;
                &:nth-of-type(6) {
                    border-bottom: 0;
                }
            }
        }
        .company-map {
            filter: grayscale(100%);
            margin-top: 20px;
            iframe {
                width: 100%;
            }

        }
    }
    
}

/*-------------------------------------------
#footer
-------------------------------------------*/
#footer {
    @include flexMode(space-between);
    width: 100%;
    font-size: 0.75rem;
    padding: 20px 40px;
    margin-top: 105px;
    nav ul {
        @include flexMode(space-between);
        li {
            @include hoverOpacity;
            margin-right: 30px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    p {
        font-size: 0.625rem;
    }
}

/*-------------------------------------------
ハンバーガーメニュー
-------------------------------------------*/
.back_color {
    background-color: rgba(0, 0, 0, 0, 8);
}

/* ハンバーガーメニューのアイコン */
.hamburger_menu {    
    display: block;
    position: relative;
    height: 30px; 
    width: 30px; 
    cursor: pointer;
    span {
        position: absolute;
        height: 2px; /* 線の高さ */
        width: 30px; /* 線の横幅 */
        background-color: #333333;
        transition: all 0.4s ease-in-out;
        &:nth-of-type(1) {
            top: 10px;
        }
        &:nth-of-type(2) {
            bottom: 10px;
        }
    }
    &:active span:nth-of-type(1) {
        transform: translateY(4px) rotate(-45deg);
    }
    &:active span:nth-of-type(2) {
        transform: translateY(-4px) rotate(45deg);
    }

}









/* レスポンシブ・ブレークポイント900px
------------------------------- */
